html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: getColour(secondary);
  line-height: 1.5;
  box-sizing: border-box;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  flex: 1;
}

.wrapper {
  .container-fluid-navbar {
    width: 100%;
    background-color: #edf6f9;
    position: fixed;
    z-index: 1000;
  }
}

.header {
  text-transform: uppercase;
  font-size: 2rem;
  position: relative;
  padding-left: 1rem;
  color: getColour(secondary);
  margin-bottom: 2rem;
  font-weight: 900;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    left: 0;
    background-color: getColour(green-600);
  }
}

.footer {
  background-color: #edf6f9;
  grid-row-start: 2;
  grid-row-end: 3;

  h5 {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    font-weight: 900;
    color: getColour(black-100);
    padding-bottom: 1rem;

    span {
      color: getColour(primary);
    }
  }

  .footer-logo {
    color: getColour(secondary);
  }

  p,
  a {
    font-size: 0.8rem;
  }

  a {
    color: getColour(black-100);
    font-family: "Montserrat", sans-serif;
    font-weight: getWeight(regular);
    opacity: 0.9;

    &:hover {
      text-decoration: none;
      color: getColour(black-300);
      text-decoration: line-through;
    }
  }

  .grid-footer {
    display: grid;
    grid-template-columns: repeat(4, 30px);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;

    @media all and (min-width: 768px) {
      grid-column-gap: 0;
    }
  }

  i {
    font-size: 2rem;
    cursor: pointer;
    transition: opacity 0.3 ease-in-out;

    &:hover {
      color: getColour(black-300);
      opacity: .89;
    }

    @media all and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .footer-copyright {
    font-weight: getWeight(medium);
    flex: 1;
    background-color: rgba(198, 212, 219, 0.65);
  }

  .newsletter {
    height: 40px;
    .btn {
      font-size: 0.7rem;
      line-height: 40px;
      padding: 0 0.5rem;
      height: 40px;
      letter-spacing: 0;
    }

    input {
      height: 100%;
      &::placeholder {
        font-size: 0.7rem;
      }
    }
  }

  .custom-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media all and (min-width: 576px) {
      display: block;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
a {
  font-family: "Barlow", sans-serif;
}
.title {
  text-transform: uppercase;
  font-weight: getWeight(bold);
}
