.breadcrumb {
  background: transparent;
  padding-top: 8rem;
  
}

.breadcrumb-item {
  font-size: 0.9rem;
  a {
    color: #294c61 !important;
    font-weight: getWeight(regular);
    font-family: "Montserrat", sans-serif;
  }

}

.breadcrumb-item.active {
  color: #294c61cc;
  font-weight: 100;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}
