.product-top {
  position: relative;
  overflow: hidden;

  .card-img,
  .card-img-top {
    transform: scale(1);
    transition: transform 0.3s;
  }
}

.edit-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 200;
  font-size: 0.875rem;

  a {
    color: getColour(white-100);
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.product-top {
  &:hover {
    .overlay {
      opacity: 1;
    }

    .card-img,
    .card-img-top {
      transform: scale(1.5);
    }
  }
}

.product-bottom {
  h3 {
    font-size: 1rem;
    font-weight: getWeight(light);
    padding-bottom: 0.8rem;
    color: getColour(black-100);
    font-weight: getWeight(regular);
  }

  h5 {
    font-size: calc(0.7rem + 0.3vw);
    font-weight: getWeight(bold);
  }

  .fav {
    font-size: calc(1.8rem - 0.1vw);
    cursor: pointer;
    color: getColour(primary);
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: inherit;
    text-decoration: none;

    h3 {
      text-decoration: underline;
    }
  }

  @media all and (min-width: 768px) {
    h3 {
      padding-bottom: 0.8rem;
    }
  }
}

.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}