.featured-container {
  height: 80vh;
}

.custom-container {
  @media all and (max-width: 576px) {
    max-width: calc(150px + 30vw);
  }
}

.featured-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-title {
  position: relative;
  letter-spacing: 0.2px;
  font-size: 1.3rem;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    top: 50%;
    background-color: getColour(primary);
  }
  &::after {
    right: calc(101% + 1vw);
  }
  &::before {
    left: calc(101% + 1vw);
  }
}

.custom-carousel {
  height: 400px;
  width: 95%;
  display: flex;
  position: relative;
  margin: 0 auto;

  .btn {
    font-size: 0.8rem;
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
  }

  .custom-carousel_slide-container::-webkit-scrollbar {
    display: none;
  }

  .custom-carousel_slide-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    list-style: none;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .custom-carousel__slide {
    width: calc(150px + 3vw);
    height: 90%;
    flex: 0 0 auto;
    cursor: pointer;
    margin-right: 1rem;

    :last-child {
      margin-right: 0;
    }
  }

  .custom-carousel__button {
    align-self: flex-start;
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    background-color: getColour(black-100);
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50%;
    font-size: 1.5rem;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    outline: none;

    &:hover {
      opacity: 1;
    }

    &:focus {
      box-shadow: 0 0 4px getColour(primary);
    }

    .fa {
      color: getColour(primary);
      font-size: 1rem;
    }
  }

  .custom-carousel__button--left {
    left: -33px;
  }
  .custom-carousel__button--right {
    right: -33px;
  }

  @media all and (min-width: 768px) {
    width: 100%;
  }
}
