.custom-form-container {
  .form-control {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #989898;
    border-radius: 0;
    outline: none;
    height: auto;
    padding: 0.6rem 0 0.4rem 0;
    margin: 0 0 0.5rem 0;
    color: getColour(black-300);

    &:focus {
      border-bottom: 1px solid rgba(95, 123, 139, 0.35);
      transition: border-color 0.15s ease-in-out;
      box-shadow: 0 1px 0 0 rgba(29, 38, 43, 0.75);
      background-color: transparent !important;
    }

    ::placeholder,
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
      font-size: 0.3rem;
    }
    
  }

  .form-control:active  {
    background: transparent;
  }

  input::placeholder {
    font-size: 0.7rem;
  }

  .fa {
    font-size: 1.5rem;
  }

  .btn-link {
    color: getColour(secondary);
    background-color: getColour(green-500);
  }

  .btn-link.collapsed {
    background-color: getColour(green-300);
  }

  small {
    font-size: 0.6rem;
  }

  .col-form-label {
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0;
  }

  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    border-bottom-color: #dc3545;
  }

  .modal-content {
    background-color: getColour(green-200);
  }

  .form-title {
    background-color: getColour(green-300);
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: end;
  }

  .form-title:first-child {
    border-bottom: 2px solid rgba(46, 51, 56, 0.65);
  }
}

.editDelete-container,
.add-container {
  textarea.form-control {
    min-height: 120px;
  }

  .custom-form-container {
    .col-form-label {
      opacity: 0.5;
      font-weight: 400;
    }
  }

  .custom-form-container form-control {
    color: getColour(black-300);
  }
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
  background: transparent;
}
.deleteProduct {

  .modal-header {
    background-color: rgba(46, 51, 56, .05);
    h5 {
      text-align: center;
      font-weight: 600;
    }
  }

  .modal-body {
    padding-top: 2rem;
  }
  .modal-content {
    background: getColour(white-200);
  }

  .fa {
    font-size: 2rem;
    color: getColour(red-300);
  }

}

.file-container {
  position: relative;

  .clear {
    position: absolute;
    top: 33%;
    right: 0;
    cursor: pointer;
  }
}

.preview {
  width: 100%;
  min-height: 100px;
  height: 150px;
  overflow: hidden;
  border: 2px solid grey;

  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__image {
display: none;
object-fit: cover;
object-position: center;
width: 100%;
height: 100%;
}

.preview.error {
  border: 2px solid red;
  color: red;
}

.productAddedToCart {

  .modal-body {
    padding-top: 2rem;
  }
  .modal-content {
    background: rgba(253, 253, 253, .98)
  }
.modal-header {
  background: rgba(103, 235, 180, .10)
}
p {
  font-weight: 400;
}
  svg {
    height: 4rem;
    width: 4rem;
    color: getColour(primary);
  }

  a:hover {
    text-decoration: none;
  }
}

.form-group-spinner {
  height: 0;
  overflow: hidden;
}

.form-group-spinner.hide-spinner {
height: 30vh;
display: flex;
align-items: center;
justify-content: center;
}

.hide-form {
  max-height: 0;
  overflow: hidden;
}

.form-check--filter {
  .form-check-label, .form-check-input {
    cursor: pointer;
  }
}

