.custom-form-container {
  input.form-control {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: none;
    height: auto;
    padding: 0.6rem 0 0.4rem 0;
    margin: 0 0 0.5rem 0;

    &:focus {
      border-bottom: 1px solid rgba(95, 123, 139, 0.35);
      transition: border-color 0.15s ease-in-out;
      box-shadow: 0 1px 0 0 rgba(29, 38, 43, 0.75);
    }

    ::placeholder,
    ::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    :-moz-placeholder {
      font-size: 0.3rem;
    }
  }

  input::placeholder {
    font-size: 0.7rem;
  }

  .fa {
    font-size: 1.5rem;
  }

  .btn-link {
    color: getColour(secondary);
    background-color: getColour(green-500);
  }

  .btn-link.collapsed {
    background-color: getColour(green-300);
  }

  small {
    font-size: 0.6rem;
  }

  .col-form-label {
    font-size: 0.9rem;
    font-weight: 600;
    padding-bottom: 0;
  }

  .was-validated .form-control:invalid,
  .form-control.is-invalid {
    border-bottom-color: #dc3545;
  }

  .modal-content {
    background-color: getColour(green-200);
  }

  .form-title {
    background-color: getColour(green-300);
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: end;
  }

  .form-title:first-child {
    border-bottom: 2px solid rgba(46, 51, 56, 0.65);
  }
}

.editDelete-container,
.add-container {
  textarea.form-control {
    min-height: 120px;
  }

  .custom-form-container {
    .col-form-label {
      opacity: 0.5;
      font-weight: 400;
    }
  }

  .custom-form-container input.form-control {
    color: getColour(black-300);
  }
}

.was-validated .custom-select:invalid,
.custom-select.is-invalid,
.was-validated .custom-select:valid,
.custom-select.is-valid {
  background: transparent;
}
.deleteProduct {

  .modal-header {
    background-color: rgba(46, 51, 56, .05);
    h5 {
      text-align: center;
      font-weight: 600;
    }
  }

  .modal-body {
    padding-top: 2rem;
  }
  .modal-content {
    background: getColour(white-200);
  }

  .fa {
    font-size: 2rem;
    color: getColour(red-300);
  }

}
