.jumbotron {
  border-radius: 0 !important;
  font-family: "Barlow", sans-serif;
}

.herobanner {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(black, 0.7), rgba(black, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 0;
  }

  &__banner {
    max-width: 60ch;
  }
}

.herobanner > * {
  z-index: 10;
  position: relative;
}

.herobanner__content {
  position: relative;
  color: getColour(white-200);
  margin-left: -62px;
  opacity: 0;
  animation: fadeIn 1s ease  0.5s forwards;

  .edit-bg {
    top: 0;
    right: 0;
  }

  .content-tag {
    font-weight: getWeight(light);
    font-size: 1rem;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.48);
    margin-bottom: 4px;
  }
  .content-header {
    font-weight: getWeight(bold);
    font-size: calc(2rem + 2vw);
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.48);
    padding-bottom: 2rem;
    line-height: 0.9;
    margin-left: -0.19rem;
  }
}

@keyframes fadeIn{
  0% {
    margin-left: -62px;
    opacity: 0;
  }
  100% {
    margin-left: 0px;
    opacity: 1;
  }
}
