.navbar {
  background-color: transparent;
  transition: background-color 0.2s;
  max-width: 1140px;
  margin: 0 auto;

  .nav-item {
    margin-right: 1.2rem;
    text-transform: uppercase;
    font-size: 1rem;
  }

  .nav-item:first-child {
    margin-left:  1.2rem;
  }
  .nav-item:last-child {
    margin-right: 0;
  }

  @media (max-width: 992px) {
    .nav-item:first-child {
      margin-left: 0;
    }

    .nav-item {
      margin-right: 0rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}
.navbar-brand {
  margin-right: 0;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  outline: none;
}

.logo {
  color: getColour(primary);
  font-weight: getWeight(bold);
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: calc(1.2rem + 1vw);
  padding-bottom: 0.8rem;
  outline: none;
}

.logo-highlight {
  color: getColour(primary);
  font-size: calc(1rem + 1vw);
  margin-left: 0.1rem;
  letter-spacing: -1px;
  font-size: calc(1.2rem + 1vw);
}

.custom-bg {
  background-color: getColour(green-050);
  transition: background-color 0.2s;
}

.navbar {
  color: getColour(white-200);

  svg {
    height: 22px;
    width: 22px;
  }
}

.navbar-brand {
  left: 2rem;
  top: 2rem;
  z-index: 5000;
}

.navbar-brand img {
  width: 100px;
}

.navbar-toggler {
  border: none !important;
  color: getColour(secondary) !important;
  font-size: 1.5rem !important;
  color: getColour(primary) !important;
  outline: none;
}

.navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.custom-toggler {
  right: 2rem;
  top: 2rem;
  z-index: 5000;
}

.home .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(103, 235, 180, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9, 10, 11, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-nav .nav-link {
  color: getColour(white-200);
  opacity: 0.5;
  position: relative;
  outline: none;
  transition: all 0.2s;
  font-weight: 600;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -0.9rem;
    height: 6px;
    width: 6px;
    background-color: transparent;
    border-radius: 50%;
  }

  &:hover{
    opacity: 1;
    color: getColour(white-100);
    &::after {
      background-color: getColour(primary);
      opacity: 1;
    }
  }

  &:focus {
    text-decoration: line-through;
    color: getColour(white-100);
    -webkit-text-decoration-color: getColour(primary);
    text-decoration-color: getColour(primary);
    &::after {
      background-color: getColour(primary);
    }
  }

  .favs-icon,
  .cart-icon {
    a {
      color: getColour(white-200);
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: getColour(black-100);
  opacity: 0.5;
  position: relative;
  outline: none;
  transition: all 0.2s;
  font-weight: getWeight(medium);
  font-weight: 600;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -0.9rem;
    height: 6px;
    width: 6px;
    background-color: transparent;
    border-radius: 50%;
  }

  &:hover {
    color: getColour(black-100);
    opacity: 1;
    &::after {
      background-color: getColour(black-300);
      opacity: 1;
    }
  }

  &:focus {
    text-decoration: line-through;
    -webkit-text-decoration-color: getColour(black-300);
    text-decoration-color: getColour(black-300);
    &::after {
      background-color: getColour(black-300);
    }
  }

  .favs-icon,
  .cart-icon {
    a {
      color: getColour(black-300) !important;
    }
  }
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  //color: getColour(white-100);
  font-weight: getWeight(bold);
  opacity: 1;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active .nav-item {
  &::after {
    background-color: getColour(primary);
    opacity: 1;
  }
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: getColour(black-100);
  font-weight: getWeight(bold);
  opacity: 1;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active .nav-item {
  &::after {
    background-color: getColour(black-300);
    opacity: 1;
  }
}


.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.inner-navbar {
  width: calc(100% - 100px);
}

.navbar-right {
  width: 250px;
}

.search {
  position: relative;
  display: block;
  width: 100%;
  max-width: 2.5rem;
  height: 2.5rem;
  transition: 0.4s linear;
  overflow: hidden;
  border-radius: 50px;
  outline: none;

  &:focus {
    box-shadow: 0 1px 6px rgba(52, 68, 64, .28);
    border-color: rgba(223,225,229,0);
  }

  @media all and (min-width: 992px) {
    margin-left: auto;
  }

  input {
    display: block;
    appearance: none;
    width: 100%;
    height: 100%;
    background: getColour(green-010);
    color: getColour(black-200);
    padding: 8px 32px;
    border-radius: 100px;
    border: none;
    transition: 0.4s linear;
    margin-left: auto;


    &:focus {
      width: 100%;
    
    }

    &::placeholder,
    input::-webkit-input-placeholder,
    ::-moz-placeholder,
    :-ms-input-placeholder,
    ::-webkit-input-placeholder {
      color: getColour(secondary);
      font-size: 0.5rem;
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: calc(2.5rem / 2);
    font-size: 1rem;
    transform: translateY(-50%);
    color: getColour(secondary);
    margin-right: 1rem;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    transform: translate(50%, -50%);
    pointer-events: none;
    
    path {
      fill: getColour(black-300);
      transition: 0.4s linear;
    } 

    &:last-child {
      margin-right: 0;
    }
  }

  &:focus-within {
    max-width: 60%;
    box-shadow: 0 1px 6px rgba(52, 68, 64, .28);
    border-color: rgba(223,225,229,0);

    input {
      background: getColour(green-010);
    }
    .search-icon {
      fill: getColour(green-300);
    }
  
    @media all and (min-width: 992px) {
      max-width: 100%;
      margin-left: auto;
    }

  }
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
}

.nav-icons {
  display: flex;
  align-items: flex-end;

  &:first-child {
    margin-bottom: -1px;
  }
}

.navbar-custom {
  background: transparent;

  .fa {
    color: getColour(secondary);
  }
}

.modal-footer {
  border-top: none;
}

.favs-icon {
  margin-bottom: -2px;
}

.modal.fade {
  .card-header {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
  }

  .login-register-form {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    input {
      width: 90%;
      margin-left: auto;
    }
    button {
      width: 73%;
      margin-left: auto;
    }
  }
}

.favs-icon,
.cart-icon {
  font-size: 2rem;
  position: relative;
  display: flex;
  align-self: flex-end;

  .counter {
    position: absolute;
    top: 0;
    right: -13px;
    height: 20px;
    width: 20px;
    border-radius: 20%;
    background-color: getColour(primary);
    font-size: 0.8rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: getColour(secondary);
  }
}

.navbar-dark .navbar-nav .nav-link.custom-greeting,
.navbar-light .navbar-nav .nav-link.custom-greeting {
  font-size: calc(0.7rem + 0.5vw);
  pointer-events: none;
  opacity: 0.8;
  text-transform: capitalize;
  font-size: 0.9rem;

  &:hover {
    opacity: 1;
    &::after {
      background-color: transparent;
      opacity: 1;
    }
  }

  &:focus {
    opacity: 1;
    &::after {
      background-color: transparent;
      opacity: 1;
    }
  }
}

.navbar-light .navbar-nav .nav-link.icon,
.navbar-dark .navbar-nav .nav-link.icon {
  &:hover {
    opacity: 1;
    &::after {
      background-color: transparent;
      opacity: 1;
    }
  }

  &:focus {
    opacity: 1;
    &::after {
      background-color: transparent;
      opacity: 1;
    }
  }
}

.navbar-dark .navbar-nav .nav-link.icon {
  opacity: 1;
  color: getColour(white-200);
}
.navbar-light .navbar-nav .nav-link.icon {
  opacity: 1;
  color: getColour(black-300);
}

.spinner-container {
  height: 30vh !important;
  width: 100%;
}

@media (max-width: 992px) {
  .navbar .container,
  .navbar .container-fluid,
  .navbar .container-sm,
  .navbar .container-md,
  .navbar .container-lg,
  .navbar .container-xl {
    position: absolute;
    right: 0;
    left: -16px;
    top: 0;
    background-color: #edf6f9;
    width: 110%;
  }

  .home {
    .navbar .container,
    .navbar .container-fluid,
    .navbar .container-sm,
    .navbar .container-md,
    .navbar .container-lg,
    .navbar .container-xl {
      background-color: rgba(7, 7, 7, 0.9);
    }
  }

  .inner-navbar {
    padding-top: 8rem !important;
    padding-bottom: 2rem;
  }

  .inner-navbar:last-child {
    padding-top: 0 !important;
  }

}
