.container-pdp {
  padding-bottom: 8rem;
}

.pdp-container {
  min-height: 100vh;
}

.pdp-detail-container {
  min-height: 100vh;
}

.img-container {
  height: 50%;

}

.pdp-img {
    width: 100%;
    @media (min-width: 576px) { 
      height: 63vh;
      object-fit: cover; 
    }

}
.pdp-thumbnail-container {
  @media all and (min-width: 576px) {
    height: 100px;
  }
}

.pdp-thumbnail {
  width: 20%;
  @media all and (min-width: 576px) {
    width: calc(15% + 1vw);
    height: 100%;
    object-fit: cover;
  }
}

.content-container {
  h3 {
    font-weight: 800;
    color: getColour(black-200);
  }

  h5 {
    font-weight: 600;
  }
}
.qty-container {
  color: #2e3338;
  display: flex;
  align-items: center;

  .fa {
    color: #2e3338;
    opacity: 0.8;
  }
}
.checkout {
  gap: 24px;
}

.custom-select {
  background: rgba(165, 212, 196, 0.2);
  color: getColour(secondary);
  font-size: 1.2rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='red' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.75rem center/8px 10px;
}

.input-group {
  .fa {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(50%, -50%);
    font-size: 1.5rem;
    pointer-events: none;
  }

  width: auto !important;
}

.Qty {
  .btn {
    color: getColour(secondary);
  }
}

.description {
  color: getColour(black-100);
}

.rating-container {
  max-width: 50ch;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.5rem;
}

.rating {
  color: #fab162bf;
  .fa {
    margin: 0 0.2rem;
  }
}

.price-title {
  font-weight: getWeight(bold);
}

.carousel-indicators {
  margin-bottom: -4.69rem;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.carousel-indicators li {
  height: 120px;
  width: 6.25rem;
  max-width: 6.25rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;

  &:last-child {
    margin-bottom: 0;
  }
}
