.btn {
  border-radius: 0;
  padding: 1rem 2.5rem;
  font-weight: getWeight(bold);
  white-space: nowrap;
  font-size: 1.02rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: getWeight(bold);
}


.content-btn {
  padding: 1rem 4rem;
  font-size: 1rem;
}


.row {
  .btn-container {
    @media all and (min-width: 576px) {
      .content-btn {
        padding: 0.5rem 2.5rem;
        font-size: 0.8rem;
      }
    }
    @media all and (min-width: 768px) {
      .content-btn {
        padding: 0.4rem 2rem;
        font-size: 0.7rem;
      }
    }
    @media all and (min-width: 960px) {
      .content-btn {
        padding: 0.5rem 2.5rem;
      }
    }

  }
  
}
