
.detail-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

// .detail-bg--thumb  {
//   width: 100px;
// }


.bag-img {
  height: 100%;
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}

