.bg-light {
  background-color: transparent !important;
}

.search {
  width: 180px;
  position: relative;

  input {
    visibility: visible;
    width: 100%;
    background: #f5f5f5;
    color: inherit;
    padding: 8px 48px;
    cursor: text;
    border-radius: 100px;
    border: none;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
