.navbar {
  color: getColour(white-200);
}

.navbar-brand img {
  width: 100px;
}

.navbar-toggler {
  border: none !important;
  color: getColour(secondary) !important;
  font-size: 1.5rem !important;
}

.home .navbar-toggler {
  color: getColour(primary) !important;
}


.nav-left {
  width: 250px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240, 189, 49, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link {
  color: getColour(white-200);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: transparent;
  }

  &:hover {
    &::after {
     background-color: getColour(primary);
    }
   }
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: getColour(primary);
  &::after {
    background-color: getColour(primary);
   }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.inner-navbar {
width: calc(100% - 100px);
}

.navbar-right {
  width: 250px;
}


.search {
  width: 180px;
  position: relative;

  input {
    visibility: visible;
    width: 100%;
    background: #f5f5f53d;
    color: inherit;
    padding: 8px 48px;
    cursor: text;
    border-radius: 100px;
    border: none;

    &::placeholder {
      color:getColour(white-200);
    }
    input::-webkit-input-placeholder {
      color: getColour(white-200);
  }

  &::-moz-placeholder {
      color: getColour(white-200);
  }

  &:-ms-input-placeholder {
      color: getColour(white-200);
  }

  &::-webkit-input-placeholder {
      color: getColour(white-200);
  }

  &::placeholder {
      color: getColour(white-200);
  }
  }

  svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: getColour(white-200);
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
