@import '../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding-top: 56px;

}

li {
  list-style: none;
}

.wrapper {
  flex: 1;
}


.search {
  width: 180px;
  position: relative;

  input {
    visibility: visible;
    width: 100%;
    background: #f5f5f5;
    color: inherit;
    padding: 8px 48px;
    cursor: text;
    border-radius: 100px;
    border: none;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}


.breadcrumb {
background: transparent;
}

.product-detail {
height: 60vh;
 }

.detail-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.detail-bg--thumb  {
  width: 100px;
}
