$theme-colors: (
  "primary": #67ebb4,
  "secondary": #151315,
  "success": #159e65,
  "danger": #e93f33,
);
$border-width: 2px;

.card {
  background-color: transparent;
};
.form-control {
  background-color: transparent;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./variables.scss";
@import "./base.scss";
@import "./buttons.scss";
@import "./form.scss";
@import "./navbar.scss";
@import "./breadcrumps.scss";
@import "./herobanner";
@import "./featured.scss";
@import "./filter.scss";
@import "./cards";
@import "./pdp.scss";
@import "./cart.scss";
@import "./category.scss";

