@import '../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;

}

li {
  list-style: none;
}

.wrapper {
  flex: 1;
}


.search {
  padding: 1rem;
  width: 100%;

  input {
    padding: 0 64px;
       border: none;
    font-size: 14px; 
    position: relative;
    outline: none;
  }
}
